<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FilePathWordIn" value="D:\Proyectos Visual Studio\VS2017\ConsoleAppProcesarReglasORG\ConsoleAppProcesarReglasORG\Files\Validaciones RG2904 V13.docx"/>
    <add key ="FilePathExcelOut" value="D:\Proyectos Visual Studio\VS2017\ConsoleAppProcesarReglasORG\ConsoleAppProcesarReglasORG\Files\ComparativaCódigosRechazoGire2904ORG.xlsx"/>
    <add key="FilePathExcelValidacionesExcluyentesCAEA" value="D:\Proyectos Visual Studio\VS2017\ConsoleAppProcesarReglasORG\ConsoleAppProcesarReglasORG\Files\ValidacionesExcluyentes2904CAEA.xlsx"/>
    <add key="FilePathExcelValidacionesNoExcluyentesCAEA" value="D:\Proyectos Visual Studio\VS2017\ConsoleAppProcesarReglasORG\ConsoleAppProcesarReglasORG\Files\ValidacionesNoExcluyentes2904CAEA.xlsx"/>

    <add key="FilePathExcelValidacionesExcluyentesCAEA_Ítems" value="D:\Proyectos Visual Studio\VS2017\ConsoleAppProcesarReglasORG\ConsoleAppProcesarReglasORG\Files\ValidacionesExcluyentes2904CAEA_Ítems.xlsx"/>
    <add key="FilePathExcelValidacionesNoExcluyentesCAEA_Ítems" value="D:\Proyectos Visual Studio\VS2017\ConsoleAppProcesarReglasORG\ConsoleAppProcesarReglasORG\Files\ValidacionesNoExcluyentes2904CAEA_Ítems.xlsx"/>
    
    <!-- En caso de que se quiera que se ignore el comportamiento por defecto y se dispare o no una excepción. La ausencia de esta key, no abrirá este Excel 
    y no se tomarán en cuenta los casos especiales; procediendo normalmente.
    En otras palabras, solamente, se utiliza en caso de que se quiera que no tome en cuenta lo que dice el Word o su respectiva regla ORG, sino que dispare 
    o no una excepción a criterio del usuario. -->
    <add key="FilePathCasosEspeciales" value="D:\Proyectos Visual Studio\VS2017\ConsoleAppProcesarReglasORG\ConsoleAppProcesarReglasORG\Files\ComparativaCódigosRechazoGire2904ORG_CasosEsp.xlsx"/>
  
  </appSettings>
</configuration>